__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

*.log
.DS_Store

*.parquet
*.csv

*.pt
*.pth
*.ckpt
*.onnx
*.joblib
*.pkl

checkpoints/
artifacts/
state/
logs/

spark-warehouse/
metastore_db/
derby.log

real_time/
external_validation/
models/
lstm_clean/local_sequences/
xgb_clean/xgb_data/
lstm_clean/results/lstm_shap/*.npz
