__pycache__/
*.pyc
*.pyo
*.pyd

.venv/
venv/
env/

.ipynb_checkpoints/

*.log

.DS_Store

checkpoints/
*.pt
*.pth
*.ckpt
*.onnx
*.joblib
*.pkl

*.parquet
*.csv

state/
logs/

spark-warehouse/
metastore_db/
derby.log

artifacts/
